@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-th-sarabun: var(--font-th-sarabun), var(--font-en), ui-sans-serif, system-ui, sans-serif;
  --font-ibm-plex: var(--font-ibm-plex), var(--font-en), ui-sans-serif, system-ui, sans-serif;

  --shadow-black: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-lighter: var(--primary-lighter);

  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-foreground-muted: var(--foreground-muted);

  --color-placeholder: var(--placeholder);
  --color-border: var(--border);
  --color-surface: var(--surface);

  --color-success: var(--success);
  --color-error: var(--error);

  --color-tag-purple: var(--tag-purple);
  --color-tag-purple-light: var(--tag-purple-light);
  --color-tag-pink: var(--tag-pink);
  --color-tag-pink-light: var(--tag-pink-light);
  --color-tag-red: var(--tag-red);
  --color-tag-red-light: var(--tag-red-light);
  --color-tag-orange: var(--tag-orange);
  --color-tag-orange-light: var(--tag-orange-light);
  --color-tag-yellow: var(--tag-yellow);
  --color-tag-yellow-light: var(--tag-yellow-light);
  --color-tag-lime: var(--tag-lime);
  --color-tag-lime-light: var(--tag-lime-light);
  --color-tag-green: var(--tag-green);
  --color-tag-green-light: var(--tag-green-light);
  --color-tag-cyan: var(--tag-cyan);
  --color-tag-cyan-light: var(--tag-cyan-light);
  --color-tag-blue: var(--tag-blue);
  --color-tag-blue-light: var(--tag-blue-light);
  --color-tag-slate: var(--tag-slate);
  --color-tag-slate-light: var(--tag-slate-light);
}

:root {
  --primary: #dd598c;
  --primary-light: #eeacc5;
  --primary-lighter: #f8dee8;

  --foreground: #0a0a0a;
  --foreground-secondary: #595959;
  --foreground-muted: #707070;

  --placeholder: #acacac;
  --border: #dbdbdb;
  --surface: #f0f0f0;

  --success: #00c951;
  --error: #dc2626;

  --tag-purple: #9333ea;
  --tag-purple-light: #f3e8ff;
  --tag-pink: #db2777;
  --tag-pink-light: #fce7f3;
  --tag-red: #dc2626;
  --tag-red-light: #fee2e2;
  --tag-orange: #ea580c;
  --tag-orange-light: #ffedd5;
  --tag-yellow: #ca8a24;
  --tag-yellow-light: #fef9c3;
  --tag-lime: #65a30d;
  --tag-lime-light: #ecfccb;
  --tag-green: #16a34a;
  --tag-green-light: #dcfce7;
  --tag-cyan: #0891b2;
  --tag-cyan-light: #cffafe;
  --tag-blue: #2563eb;
  --tag-blue-light: #dbeafe;
  --tag-slate: #475569;
  --tag-slate-light: #e2e8f0;
}

@layer base {
  body {
    @apply text-foreground;
  }
}

@layer utilities {
  /* chrome, safari and operara */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox*/
  }
}
